@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
$font: 'Proxima Nova', Monaco, Helvetica, sans-serif;
$blue: #006eb9;
$white: #fff;
$green: #40c85c;

body {
    margin: 0%;
    font-family: $font;
}

img {
    width: 220px;
}

hr {
    margin: 0em;
    width: 100%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    border: 0.1px solid #ccc;
}

table {
    box-sizing: border-box;
    border-spacing: 2px;
    border-collapse: collapse
}

table, .table-title, .table-content {
    border: 1px solid #d3d3d3;
}

.authorized {
    background-color: #a0e3b0;
    padding: 5px;
    border-radius: 5px;
    color: #72a880
}

.btn-action {
    color: $white;
    background-color: $blue;
    line-height: 30px;
    width: 110px;
    font-family: $font;
    border-radius: 6px;
    margin: 2px;
    font-size: 14px;
    border: $blue;
}

.btn-close {
    color: #b3b3b4;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 20px;
    font-family: $font;
}

.btn-try-arquivei {
    color: $white;
    background-color: $green;
    line-height: 25px;
    width: 50%;
    font-family: $font;
    border-radius: 6px;
    margin: 2px;
    margin-top: 20px;
    padding: 8px;
    font-size: 20px;
    border: $green;
}

.btn-try-now {
    color: $white;
    background-color: $blue;
    line-height: 45px;
    border-radius: 6px;
    margin: 2px 0 0 185px;
    margin-top: 20px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-family: $font;
    border: $blue;
}

.company-information {
    padding: 15px;
    text-align: center;
    margin: 0%;
    font-size: 12px;
    color: #808991
}

.container-box {
    text-align: center;
    margin: 0 auto;
    margin-top: 70px;
    background-color: #ededed;
    border-radius: 10px;
    line-height: 20px;
    padding: 30px;
    width: 40%;
    color: #808991;
}

.factory-gif {
    padding: 0 20px 10px 20px;
    margin: 0 auto;
}

.factory-gif > img {
    width: 540px;
}

.factory-gif > p {
    color: #808991;
    text-align: center;
}

.main-header {
    background-color: $blue;
    padding: 15px;
    text-align: center
}

.modal {
    padding: 0 20px 10px 20px;
    margin: 0 auto;
    color: #808991;
}

.modal > h3 {
    color: $blue;
    text-align: center;
}

.modal-content {
    text-align: center
}

.p-terms {
    text-align: center;
}

.progress {
  position: relative;
  height: 10px;
  display: block;
  width: 100%;
  background-color: #a4c6e4;
  border-radius: 5px;
  background-clip: padding-box;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden; 
}
  
.progress .loading {
    background-color: #1872bc;
}

.progress .loading:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: loading 1.2s cubic-bezier(0.60, 0.810, 0.730, 0.390) infinite;
    animation: loading 1.2s cubic-bezier(0.60, 0.810, 0.730, 0.390) infinite; 
    border-radius: 5px;
}

.sub-header {
    color: #006ebe;
    padding: 15px;
    text-align: center
}

.table-title {
    color: #3eaadb;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 8px;
    line-height: 50px;
    
}

.table-content {
    background-color: #f9f9f9;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 8px;
    line-height: 16px;
    color: #a0a7ac;
    font-size: 14px;
}

.terms {
    color: $blue
}

@-webkit-keyframes loading {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } 
}

@keyframes loading {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } 
}

@-webkit-keyframes loading-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } 
}

@keyframes loading-short {
  0% {
    left: -200%;
    right: 100%; }
  60% {
    left: 107%;
    right: -8%; }
  100% {
    left: 107%;
    right: -8%; } 
}